{% extends 'myblog/base.html' %}
{% load static %}
{% block body %}
<!-- current user:{{user.id}}
post author:{{post.author.id}} -->




{% if post.header_image %}
   <div class="img my-2" style="display:flex;justify-content:center;background-color:#5C5F58">
    <img class="img-fluid" src="{{post.header_image.url}}" height="400px" width="100%"/>
   </div>
{% endif %}
  <br /><br />
  <div class="card">
    <h2 class="card-header" style="font-weight: bolder;">{{post.title}}</h2>
    <div class="card-body">
      <p>{{post.body|safe}}</p>
    </div>
  </div>
  {% if user.is_authenticated   %}
  {% if user.id == post.author.id  %}

  <button class="btn btn-outline-success mx-2 my-2"><a href="{% url 'update_post' post.pk %}">Edit Post</a></button>
  <button class="btn btn-outline-danger mx-2 my-2"><a href="{% url 'delete_post' post.pk %}">Delete Post</a></button>
  {% endif %}
{% endif %}
<br /><br />

<a href="{% url 'home' %}" class="btn btn-secondary">HOME</a>
 </br></br>
<hr />

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated   %}
    {% if liked %}
    <button type="submit" , name="post_id" , value="{{post.id}}" ,class="btn btn-danger btn-sm">
        UnLike
    </button>
    {% else %}
    <button type="submit" , name="post_id" , value="{{post.id}}" ,class="btn btn-primary btn-sm">
        Like
    </button>
    {% endif %}
    {% else %}
    login to like
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
    -{{total_likes}} likes

    <br /><br />
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">
                {% if post.author.profile.profile_pic %}
                <img src="{{post.author.profile.profile_pic.url}}" class="card-img img-fluid">
                {% else %}
                <img src="{% static 'blog/images/download.png' %}" class="card-img">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        {{post.author.first_name}}
                        {{post.author.last_name}}
                    </h5>
                    <p class="small text-muted">
                        <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>|

                        {% if post.author.profile.website_url %}
                        <a href="{{post.author.profile.website_url}}"> Website </a>|
                        {% endif %}
                        {% if post.author.profile.fb_url %}
                        <a href="{{post.author.profile.fb_url}}"> Facebook </a>|
                        {% endif %}
                        {% if post.author.profile.insta_url %}
                        <a href="{{post.author.profile.insta_url}}"> Instagaram </a>|
                        {% endif %}
                        {% if post.author.profile.linkedin_url %}
                        <a href="{{post.author.profile.linkedin_url}}">Linked In</a>
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {{post.author.profile.bio}}
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <h2>Comments</h2>
    {% if not post.comments.all %}

    No comments yet<a href="{% url 'add_comment' post.pk %}">Add Comment</a><br />
    {% else %}
    <a href="{% url 'add_comment' post.pk %}">Add Comment</a><br />
    
    {% for comment in post.comments.all %}
    <div class="comments">
        <blockquote class="blockquote mb-0">
            <p>{{comment.body}}</p>
            <footer class="blockquote-footer"<cite title="Source Title">{{comment.name}}- {{comment.date_added}} </cite></footer>
          </blockquote>
    <br />
    
    <br />
    </div>
    {% endfor %}

    {% endif %}
    <hr />
    <br /><br />



</form>
    {% endblock %}
