{% extends 'myblog/base.html' %}

    {% block title %}
    BLOG
    {% endblock %}
   {% block body %}
{% if user.is_authenticated   %}
<h1>DELETE POST</h1>
<h3>Delete:{{post.title}}</h3>
 {% if user.id == post.author.id  %}
   <div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <strong>Would you like to delete the post ?</strong>
        <button>Delete Post</button>
    </form>
   </div>
  {% else %}
     YOu are not allowed here (and you no it).
  {% endif %}
{% else %}
YOu are not allowed here (and you no it).

{% endif %}
   {% endblock %}


