{% extends 'myblog/base.html' %}

    {% block title %}
    BLOG
    {% endblock %}
   {% block body %}
{% if user.is_authenticated   %}
<h1>EDIT POST</h1>
 {% if user.id == post.author.id  %}
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button>UPDATE</button>
        </form>
    </div>
 {% else %}
  YOu are not allowed here (and you no it).
 {% endif %}

{% else %}
YOu are not allowed here (and you no it).

{% endif %}

   {% endblock %}


