{% extends 'myblog/base.html' %}

    {% block title %}
    Edit Profile Page
    {% endblock %}
   {% block body %}
{% if user.is_authenticated   %}
 {% if user.id == profile.user.id  %}
<h1>Edit Profile Page</h1>
<div class="form-group">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
        <button>Update Profile Page</button>
    </form>
</div>

  {% else %}

You are not the correct user...

 c{% endif %}

{% else %}
YOu are not allowed here (and you no it).
{% endif %}
   {% endblock %}


